# Variables de entorno para Tyr.

GIT_ROOT="git@github.com:Avantio"
GIT_BASE="git@github.com:Avantio-Webs"

INTEGRATIONS_DIR="ruta_hacia_datosBroker"
WEBS_DIR="ruta_hacia_clients"
FRAMEWORK_DIR="ruta_hacia_framework"

MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_SERVER=
MSSQL_DATABASE=

# Variables de entorno para PRE
VPN_SERVER="vpn.avantio.dev:4433"
VPN_USER="usuario"
VPN_PASSWORD="contraseña"

VPN_DOMAIN="avantio"
VPN_NAME="Avantio"
